@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  box-sizing: border-box;
  background: rgb(245, 245, 245);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.hub-text {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.hidden-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes loading-animation {
  0% {
    color: #777777;
  }
  70% {
    color: rgb(199, 199, 0);
  }
  100% {
    color: #777777;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slide-animation {
  animation: 20s linear ease-in;
  animation-name: slide;
}

.slide-animation:hover {
  animation-play-state: paused;
}

.loading-animation {
  animation: loading-animation 2s infinite linear;
}
